.counter-button {
    appearance: none;
    border: unset;

    border-radius: 10px;
    padding: 5px 10px;

    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(0.8);
    }
}
