<nav>
    <div class="content">
        {{> icons/logo width=50}}
        <div class="nav-links">
            <h4 class="nav-link">
                <a class="no-style" href="https://rossalexandra.com">
                    Portfolio
                    {{> icons/external-link size=13 }}
                </a>
            </h2>
        </div>
    </div>
</nav>
