<a class="logo-link" href="/">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.182 114.914" width="{{ width }}" height="{{ height }}">
        <g transform="translate(-10 -49.99)" fill-opacity=".996">
            <ellipse cx="17.501" cy="57.451" rx="4.262" ry="4.233" stroke="#ffffff" stroke-width="6.458"></ellipse>
            <ellipse cx="17.455" cy="-57.709" rx="1.241" ry="1.233" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a"
                stroke-width="4.255"></ellipse>
        </g>
        <g transform="matrix(.75013 0 0 .74515 24.191 -36.93)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 58.744 -28.253)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 58.744 -3.253)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 24.191 13.07)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 .012 13.07)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 .012 63.07)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <g transform="matrix(.75013 0 0 .74515 59.191 63.07)" fill-opacity=".996">
            <circle cx="9.984" cy="59.575" stroke="#ffffff" stroke-width="8.637" r="5.681"></circle>
            <circle cx="9.922" cy="-59.921" transform="scale(1 -1)" fill="#2a252a" stroke="#2a252a" stroke-width="5.691"
                r="1.655"></circle>
        </g>
        <path
            d="M37.096 6.367h27.781L66.2 7.69v2.646M66.2 21.448v15.875M66.2 47.377v5.821l-3.969 3.44h-24.87M34.45 62.459l29.104 41.01M7.463 12.982v38.364M7.463 63.517v38.63"
            fill="none" stroke="#ffffff" stroke-width="6.767"></path>
    </svg>
</a>
